@model UserManagement.Models.LoginViewModel

@{
    ViewData["Title"] = "登入";
}

<h2>登入</h2>

<form asp-action="Login" method="post">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">登入</button>
</form>
<button class="btn btn-primary" onclick="window.location.href='/Account/Register';">
    註冊新帳號
</button>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
